<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>
   <!--- basic page needs
   ================================================== -->
   <meta charset="utf-8">
	<title>App - ZS Covid Image Processing</title>
	<meta name="description" content="front-end developer">
	<meta name="author" content="Jatin Chauhan">

   <!-- mobile specific metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

 	<!-- CSS
   ================================================== -->
   <link rel="stylesheet" href="{{ url_for('static', filename= 'css/base.css') }}">
   <link rel="stylesheet" href="{{ url_for('static', filename= 'css/vendor.min.css') }}">
   <link rel="stylesheet" href="{{ url_for('static', filename= 'css/main.css') }}">

   <!-- script
   ================================================== -->
	<script src="{{ url_for('static', filename= 'js/modernizr.js') }}"></script>

   <!-- favicons
	================================================== -->
	<link rel="shortcut icon" href="{{ url_for('static', filename= 'images/favicon.png') }}" >


    <style>

        th, td {
              padding: 10px;
            }

        #totals {
              background-color: darkslategray;
              color: black;
            }
        .cropped {
            width: 360px; /* width of container */
            height: 360px; /* height of container */
            overflow: hidden;
            border: 2px solid black;
        }

        .cropped img {
            margin: -60px -0px -90px -150px;
        }
    </style>

</head>

<body>

	<!-- header
   ================================================== -->
   <header id="main-header">

   	<div class="row">

	      <div class="logo">
	         <a href="{{ url_for('index') }}">ZS Covid Image Processing</a>
	      </div>

	      <nav id="nav-wrap">

	         <a class="mobile-btn" href="#nav-wrap" title="Show navigation">
	         	<span class="menu-icon">Menu</span>
            </a>
         	<a class="mobile-btn" href="#" title="Hide navigation">
         		<span class="menu-icon">Menu</span>
         	</a>

	         <ul id="nav" class="nav">
	            <li><a  href="{{ url_for('index') }}">Home</a></li>
                 <li><a href="{{ url_for('application') }}">App</a></li>
	         </ul> <!-- end #nav -->

	      </nav> <!-- end #nav-wrap -->

	   </div>

   </header> <!-- end header -->

   <section id="contact">

    <div class="row section-head">

        <div class="twelve columns">

          <h1>COVID Image Classifier<span></span></h1>

          <hr />

       </div>

   </div> <!-- end section-head -->
    <div class="row">
        <div class="six columns tab-whole left">
            <h2>Uploaded CT Scan Image<span>.</span></h2>
            <div class="">
                <img id="input-image" src="{{ url_for('static', filename=input_file_path)}}" alt="" width="100%">
           </div>

        </div>
        <div class="six columns tab-whole right">
            <br><br>
                <h1>Model Prediction: <br><span><u>{{ result }}</u></span></h1>
            <br><br>

        </div>
    </div>


        <div class="row section-head">
        <div class="twelve columns">
          <hr />
       </div>
   </div> <!-- end section-head -->


       <div class="row">
        <div class="six columns tab-whole left">
          <div class="">
                <img id="input-image" src="{{ url_for('static', filename=output_file_path)}}" alt="" width="100%">
          </div>

        </div>
        <div class="six columns tab-whole right">
            <h2>Grad CAM - Regions Influencing Model's Decision<span>.</span></h2>
            <p>
                <ul>
                    <li>Grad-CAM makes CNN based models more transparent by visualizing the regions of input that are “important” for predictions from these models</li>
                    <li>In Grad CAM we calculate the sensitivity of the final prediction score with the pixel intensity across the image to show how the image label will change based on local features</li>
                </ul>
            </p>

        </div>
    </div>

       <br><br>
       <div class="row section-head">

        <div class="twelve columns">

          <h1>Specifics of Underlying Model<span></span></h1>

          <hr />

       </div>

   </div> <!-- end section-head -->

   <div class="row">

       <div class="six columns tab-whole left">

         <h4>Distribution of Dataset for Modelling</h4>
          <table style="border: 1px solid white" width="100%">
              <tr>
                  <th>Data Split</th>
                  <th>COVID</th>
                  <th>NON-COVID</th>
                  <th>Total</th>
                  <th>Percentage</th>
              </tr>
              <tr>
                  <td>Training Set</td>
                  <td>191</td>
                  <td>234</td>
                  <td>425</td>
                  <td>57%</td>
              </tr>
              <tr>
                  <td>Validation Set</td>
                  <td>60</td>
                  <td>58</td>
                  <td>118</td>
                  <td>16%</td>
              </tr>
              <tr>
                  <td>Test Set</td>
                  <td>98</td>
                  <td>105</td>
                  <td>203</td>
                  <td>27%</td>
              </tr>
              <tr id="totals">
                  <td>Total</td>
                  <td>349</td>
                  <td>397</td>
                  <td>746</td>
                  <td>100%</td>
              </tr>
          </table>
           <h4>Model Performance</h4>
           <table style="border: 1px solid white" width="100%">
                <tr>
                    <th>Accuracy</th>
                    <th>Precision</th>
                    <th>Recall</th>
                    <th>F-1 Score</th>
                    <th>AUC</th>
                </tr>
                <tr id="totals">
                    <td>87.68%</td>
                    <td>86.86%</td>
                    <td>87.75%</td>
                    <td>87.30%</td>
                    <td>93.09%</td>
                </tr>
            </table>

          <br>
      </div>

      <div class="six columns tab-whole right">

          <h4>Comparison of ZS Model with Radiologists' Benchmarks</h4>

          <table style="border: 1px solid white; line-height: 33px" width="100%">
              <tr>
                  <th></th>
                  <th>Sensitivity</th>
                  <th>Specificity</th>
                  <th>Accuracy</th>
              </tr>
              <tr>
                  <td>Radiologist #1</td>
                  <td>72%</td>
                  <td>94%</td>
                  <td>83%</td>
              </tr>
              <tr>
                  <td>Radiologist #2</td>
                  <td>72%</td>
                  <td>88%</td>
                  <td>80%</td>
              </tr>
              <tr>
                  <td>Radiologist #3</td>
                  <td>94%</td>
                  <td>24%</td>
                  <td>60%</td>
              </tr>
              <tr>
                  <td>Radiologist #4</td>
                  <td>93%</td>
                  <td>100%</td>
                  <td>97%</td>
              </tr>
              <tr>
                  <td>Radiologist #5</td>
                  <td>83%</td>
                  <td>93%</td>
                  <td>88%</td>
              </tr>
              <tr>
                  <td>Radiologist #6</td>
                  <td>73%</td>
                  <td>92%</td>
                  <td>83%</td>
              </tr>
              <tr id="totals">
                  <td>ZS Model</td>
                  <td>87.75%</td>
                  <td>87.62%</td>
                  <td>87.68%</td>
              </tr>
          </table>

      </div>

   </div> <!-- end row -->


</section>  <!-- end contact -->


   <!-- Footer
   ================================================== -->
   <footer>

      <div class="row">

         <ul class="copyright">
         	<li>&copy; Copyright 2020 ZS.</li>
         </ul>

      </div> <!-- end row -->

   </footer> <!-- end footer -->

   <div id="preloader">
    	<div id="loader"></div>
   </div>

   <!-- Java Script
   ================================================== -->
   <script src="{{ url_for('static', filename= 'js/jquery-1.11.3.min.js') }}"></script>
   <script src="{{ url_for('static', filename= 'js/jquery-migrate-1.2.1.min.js') }}"></script>
   <script src="{{ url_for('static', filename= 'js/jquery.flexslider-min.js') }}"></script>
   <script src="{{ url_for('static', filename= 'js/jquery.waypoints.min.js') }}"></script>
   <script src="{{ url_for('static', filename= 'js/jquery.validate.min.js') }}"></script>
   <script src="{{ url_for('static', filename= 'js/jquery.fittext.js') }}"></script>
   <script src="{{ url_for('static', filename= 'js/jquery.placeholder.min.js') }}"></script>
   <script src="{{ url_for('static', filename= 'js/jquery.magnific-popup.min.js') }}"></script>
   <script src="{{ url_for('static', filename= 'js/main.js') }}"></script>

</body>

</html>